/* vim: set filetype=css : */

/* {{{ Documentation */

/*

Selector 				Example 				Example description

* 				* 				Selects all elements

.class 				.intro 				Selects all elements with class="intro"
#id 				#firstname 				Selects the element with id="firstname"

element 				p 				Selects all <p> elements
element,element 				div,p 				Selects all <div> elements and all <p> elements
element element 				div p 				Selects all <p> elements inside <div> elements
element>element 				div>p 				Selects all <p> elements where the parent is a <div> element
element+element 				div+p 				Selects all <p> elements that are placed immediately after <div> elements

[attribute] 				[target] 				Selects all elements with a target attribute
[attribute=value] 				[target=_blank] 				Selects all elements with target="_blank"
[attribute~=value] 				[title~=flower] 				Selects all elements with a title attribute containing the word "flower"
element1~element2 				p~ul 				Selects every ul element that are preceded by a p element
[attribute^=value] 				a[src^="https"] 				Selects every a element whose src attribute value begins with "https"
[attribute$=value] 				a[src$=".pdf"] 				Selects every a element whose src attribute value ends with ".pdf"
[attribute*=value] 				a[src*="w3schools"] 				Selects every a element whose src attribute value contains the substring "w3schools"

[attribute|=language] 				[lang|=en] 				Selects all elements with a lang attribute value starting with "en"
:lang(language) 				p:lang(it) 				Selects every <p> element with a lang attribute value starting with "it"

:link 				a:link 				Selects all unvisited links
:visited 				a:visited 				Selects all visited links
:active 				a:active 				Selects the active link
:hover 				a:hover 				Selects links on mouse over
:focus 				input:focus 				Selects the input element which has focus

:enabled 				input:enabled 				Selects every enabled input element
:disabled 				input:disabled 				Selects every disabled input element
:target 				#news:target 				Selects the current active #news element (clicked on a URL containing that anchor name)
:checked 				input:checked 				Selects every checked input element
:not(selector) 				:not(p) 				Selects every element that is not a p element
::selection 				::selection 				Selects the portion of an element that is selected by a user

:first-letter 				p:first-letter 				Selects the first letter of every <p> element
:first-line 				p:first-line 				Selects the first line of every <p> element

:before 				p:before 				Insert content before every <p> element
:after 				p:after 				Insert content after every <p> element

:root 				:root 				Selects the document’s root element

:first-child 				p:first-child 				Selects every <p> elements that is the first child of its parent
:last-child 				p:last-child 				Selects every p element that is the last child of its parent
:first-of-type 				p:first-of-type 				Selects every p element that is the first p element of its parent
:last-of-type 				p:last-of-type 				Selects every p element that is the last p element of its parent
:only-of-type 				p:only-of-type 				Selects every p element that is the only p element of its parent
:only-child 				p:only-child 				Selects every p element that is the only child of its parent
:nth-child(n) 				p:nth-child(2) 				Selects every p element that is the second child of its parent
:nth-last-child(n) 				p:nth-last-child(2) 				Selects every p element that is the second child of its parent, counting from the last child
:nth-of-type(n) 				p:nth-of-type(2) 				Selects every p element that is the second p element of its parent
:nth-last-of-type(n) 				p:nth-last-of-type(2) 				Selects every p element that is the second p element of its parent, counting from the last child
:empty 				p:empty 				Selects every p element that has no children (including text nodes)

odd, even en indice : impair, pair

*/

/* }}} */

/*--------------------*/

/* {{{ Classes génériques */

/* {{{ Grandeur */

.pousse
{
	font-size: 110%;
}

.engrais
{
	font-size: 120%;
}

.consequent
{
	font-size: 150%;
}

.impressionant
{
	font-size: 170%;
}

.grand
{
	font-size: 200%;
}

.geant
{
	font-size: 300%;
}

.titan
{
	font-size: 400%;
}

/* Grandeur }}} */

/* {{{ Alignement */

.gauche
{
	text-align: left;
    margin-left: 5%;
}

.centre
{
	text-align: center;

	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

.droite
{
	text-align: right;
    margin-right: 5%;
}

.justifie
{
	text-align: justify;
}

/* Alignement }}} */

/* {{{ Couleurs */

/* {{{ Gris */

.anthracite
{
	color: hsl(0, 0%, 19%);

	font-style: inherit;
	font-weight: inherit;
}

.clarissimo
{
	color: hsl(54, 32%, 59%);

	font-style: inherit;
	font-weight: inherit;
}

.maduro
{
	color: hsl(33, 20%, 18%);

	font-style: inherit;
	font-weight: inherit;
}

.oscuro
{
	color: hsl(46, 71%, 9%);

	font-style: inherit;
	font-weight: inherit;
}

.plomb
{
	color: hsl(188, 3%, 49%);

	font-style: inherit;
	font-weight: inherit;
}

.taupe
{
	color: hsl(39, 17%, 24%);

	font-style: inherit;
	font-weight: inherit;
}

/* }}} */

/* {{{ Blancs, beiges */

.beige
{
	color: hsl(38, 40%, 64%);

	font-style: inherit;
	font-weight: inherit;
}

.champagne
{
	color: hsl(52, 89%, 85%);

	font-style: inherit;
	font-weight: inherit;
}

.creme
{
	color: hsl(50, 95%, 86%);

	font-style: inherit;
	font-weight: inherit;
}

.cuissedenymphe
{
	color: hsl(337, 92%, 95%);

	font-style: inherit;
	font-weight: inherit;
}

.sable
{
	color: hsl(39, 47%, 77%);

	font-style: inherit;
	font-weight: inherit;
}

.vanille
{
	color: hsl(44, 54%, 74%);

	font-style: inherit;
	font-weight: inherit;
}

.ventredebiche
{
	color: hsl(26, 56%, 80%);

	font-style: inherit;
	font-weight: inherit;
}

/* }}} */

/* {{{ Rouges */

.rouge
{
	/* Cerise					 */
	color: rgb(187, 11, 11);

	font-style: inherit;
	font-weight: inherit;
}

.rougedalizarine
{
	color: hsl(354, 99%, 43%);

	font-style: inherit;
	font-weight: inherit;
}

.rougedandrinople
{
	color: hsl(6, 99%, 33%);

	font-style: inherit;
	font-weight: inherit;
}

.rougedefalun
{
	color: hsl(0, 68%, 30%);

	font-style: inherit;
	font-weight: inherit;
}

.bismarck
{
	color: hsl(11, 89%, 34%);

	font-style: inherit;
	font-weight: inherit;
}

.bordeaux
{
	color: hsl(349, 88%, 23%);

	font-style: inherit;
	font-weight: inherit;
}

.bourgogne
{
	color: hsl(0, 78%, 24%);

	font-style: inherit;
	font-weight: inherit;
}

.cardinal
{
	color: hsl(6, 84%, 39%);

	font-style: inherit;
	font-weight: inherit;
}

.cerise
{
	color: hsl(0, 89%, 39%);

	font-style: inherit;
	font-weight: inherit;
}

.coquelicot
{
	color: hsl(2, 100%, 39%);

	font-style: inherit;
	font-weight: inherit;
}

.cramoisi
{
	color: hsl(350, 100%, 29%);

	font-style: inherit;
	font-weight: inherit;
}

.fraise
{
	color: hsl(0, 60%, 47%);

	font-style: inherit;
	font-weight: inherit;
}

.framboise
{
	color: hsl(349, 64%, 48%);

	font-style: inherit;
	font-weight: inherit;
}

.grenadine
{
	color: hsl(358, 80%, 57%);

	font-style: inherit;
	font-weight: inherit;
}

.grenat
{
	color: hsl(355, 82%, 24%);

	font-style: inherit;
	font-weight: inherit;
}

.groseille
{
	color: hsl(354, 91%, 43%);

	font-style: inherit;
	font-weight: inherit;
}

.gueulesheraldiques
{
	color: hsl(0, 84%, 48%);

	font-style: inherit;
	font-weight: inherit;
}

.liedevin
{
	color: hsl(344, 70%, 40%);

	font-style: inherit;
	font-weight: inherit;
}

.ocrerouge
{
	color: hsl(28, 65%, 61%);

	font-style: inherit;
	font-weight: inherit;
}

.passevelours
{
	color: hsl(349, 57%, 36%);

	font-style: inherit;
	font-weight: inherit;
}

.pourpre
{
	color: hsl(339, 84%, 34%);

	font-style: inherit;
	font-weight: inherit;
}

.prune
{
	color: hsl(325, 73%, 29%);

	font-style: inherit;
	font-weight: inherit;
}

.saumon
{
	color: hsl(21, 92%, 65%);

	font-style: inherit;
	font-weight: inherit;
}

/* }}} */

/* {{{ Verts */

.vert
{
	/* Bouteille				 */
	color: hsl(120, 84%, 23%);

	font-style: inherit;
	font-weight: inherit;
}

.vertdegris
{
	color: hsl(120, 8%, 62%);

	font-style: inherit;
	font-weight: inherit;
}

.vertdehooker
{
	color: hsl(104, 82%, 17%);

	font-style: inherit;
	font-weight: inherit;
}

.vertdevessie
{
	color: hsl(109, 78%, 26%);

	font-style: inherit;
	font-weight: inherit;
}

.vertimperial
{
	color: hsl(109, 64%, 38%);

	font-style: inherit;
	font-weight: inherit;
}

.absinthe
{
	color: hsl(99, 68%, 58%);

	font-style: inherit;
	font-weight: inherit;
}

.amande
{
	color: hsl(105, 43%, 60%);

	font-style: inherit;
	font-weight: inherit;
}

.anis
{
	color: hsl(90, 76%, 62%);

	font-style: inherit;
	font-weight: inherit;
}

.asperge
{
	color: hsl(92, 27%, 49%);

	font-style: inherit;
	font-weight: inherit;
}

.avocat
{
	color: hsl(81, 95%, 26%);

	font-style: inherit;
	font-weight: inherit;
}

.bouteille
{
	color: hsl(120, 84%, 23%);

	font-style: inherit;
	font-weight: inherit;
}

.celadon
{
	color: hsl(154, 16%, 58%);

	font-style: inherit;
	font-weight: inherit;
}

.chrome
{
	color: hsl(131, 41%, 16%);

	font-style: inherit;
	font-weight: inherit;
}

.emeraude
{
	color: hsl(144, 99%, 42%);

	font-style: inherit;
	font-weight: inherit;
}

.epinard
{
	color: hsl(145, 58%, 22%);

	font-style: inherit;
	font-weight: inherit;
}

.gazon
{
	color: hsl(109, 64%, 38%);

	font-style: inherit;
	font-weight: inherit;
}

.jade
{
	color: hsl(126, 69%, 72%);

	font-style: inherit;
	font-weight: inherit;
}

.lichen
{
	color: hsl(114, 35%, 63%);

	font-style: inherit;
	font-weight: inherit;
}

.malachite
{
	color: hsl(145, 68%, 37%);

	font-style: inherit;
	font-weight: inherit;
}

.meleze
{
	color: hsl(137, 33%, 33%);

	font-style: inherit;
	font-weight: inherit;
}

.menthe
{
	color: hsl(141, 79%, 40%);

	font-style: inherit;
	font-weight: inherit;
}

.menthealeau
{
	color: hsl(141, 93%, 65%);

	font-style: inherit;
	font-weight: inherit;
}

.militaire
{
	color: hsl(82, 21%, 33%);

	font-style: inherit;
	font-weight: inherit;
}

.mousse
{
	color: hsl(109, 28%, 49%);

	font-style: inherit;
	font-weight: inherit;
}

.olive
{
	color: hsl(76, 60%, 35%);

	font-style: inherit;
	font-weight: inherit;
}

.pin
{
	color: hsl(175, 98%, 24%);

	font-style: inherit;
	font-weight: inherit;
}

.poireau, .prasin
{
	color: hsl(141, 37%, 47%);

	font-style: inherit;
	font-weight: inherit;
}

.pomme
{
	color: hsl(114, 70%, 46%);

	font-style: inherit;
	font-weight: inherit;
}

.prairie
{
	color: hsl(109, 65%, 53%);

	font-style: inherit;
	font-weight: inherit;
}

.printemps
{
	color: hsl(150, 100%, 50%);

	font-style: inherit;
	font-weight: inherit;
}

.sapin
{
	color: hsl(145, 80%, 18%);

	font-style: inherit;
	font-weight: inherit;
}

.sauge
{
	color: hsl(130, 21%, 51%);

	font-style: inherit;
	font-weight: inherit;
}

.sinople
{
	color: hsl(120, 76%, 33%);

	font-style: inherit;
	font-weight: inherit;
}

.tilleul
{
	color: hsl(81, 58%, 57%);

	font-style: inherit;
	font-weight: inherit;
}

.turquoise
{
	color: hsl(170, 99%, 56%);

	font-style: inherit;
	font-weight: inherit;
}

.veronese
{
	color: hsl(70, 51%, 26%);

	font-style: inherit;
	font-weight: inherit;
}

.viride
{
	color: hsl(161, 34%, 38%);

	font-style: inherit;
	font-weight: inherit;
}

/* }}} */

/* {{{ Bleus */

.bleu
{
	/* Paon	 */
	color: hsl(191, 92%, 29%);

	font-style: inherit;
	font-weight: inherit;
}

.bleucanard
{
	color: hsl(186, 95%, 31%);

	font-style: inherit;
	font-weight: inherit;
}

.bleudanvers, .bleudeprusse
{
	color: hsl(206, 44%, 25%);

	font-style: inherit;
	font-weight: inherit;
}

.bleudecobalt
{
	color: hsl(219, 57%, 31%);

	font-style: inherit;
	font-weight: inherit;
}

.bleudeminuit
{
	color: hsl(210, 100%, 20%);

	font-style: inherit;
	font-weight: inherit;
}

.bleuet
{
	color: hsl(220, 36%, 51%);

	font-style: inherit;
	font-weight: inherit;
}

.cerule
{
	color: hsl(208, 55%, 46%);

	font-style: inherit;
	font-weight: inherit;
}

.denim
{
	color: hsl(213, 80%, 41%);

	font-style: inherit;
	font-weight: inherit;
}

.hussard
{
	color: hsl(206, 44%, 25%);

	font-style: inherit;
	font-weight: inherit;
}

.klein
{
	color: hsl(223, 100%, 33%);

	font-style: inherit;
	font-weight: inherit;
}

.lapislazuli
{
	color: hsl(210, 61%, 38%);

	font-style: inherit;
	font-weight: inherit;
}

.lavande
{
	color: hsl(251, 73%, 72%);

	font-style: inherit;
	font-weight: inherit;
}

.paon
{
	color: hsl(191, 92%, 29%);

	font-style: inherit;
	font-weight: inherit;
}

.pastel
{
	color: hsl(214, 28%, 47%);

	font-style: inherit;
	font-weight: inherit;
}

/* }}} */

/* {{{ Jaunes */

.jaune
{
	/* Ocre jaune		 */
	color: hsl(44, 74%, 52%);

	font-style: inherit;
	font-weight: inherit;
}

.jaunedemars
{
	color: hsl(49, 82%, 63%);

	font-style: inherit;
	font-weight: inherit;
}

.jauneimperial
{
	color: hsl(52, 100%, 61%);

	font-style: inherit;
	font-weight: inherit;
}

.ambrejaune
{
	color: hsl(49, 100%, 47%);

	font-style: inherit;
	font-weight: inherit;
}

.aureolin
{
	color: hsl(50, 84%, 60%);

	font-style: inherit;
	font-weight: inherit;
}

.ble
{
	color: hsl(54, 80%, 55%);

	font-style: inherit;
	font-weight: inherit;
}

.beurre
{
	color: hsl(54, 82%, 68%);

	font-style: inherit;
	font-weight: inherit;
}

.banane
{
	color: hsl(52, 94%, 42%);

	font-style: inherit;
	font-weight: inherit;
}

.paille
{
	color: hsl(51, 99%, 64%);

	font-style: inherit;
	font-weight: inherit;
}

.poussin
{
	color: hsl(52, 90%, 67%);

	font-style: inherit;
	font-weight: inherit;
}

.or
{
	color: hsl(54, 94%, 48%);

	font-style: inherit;
	font-weight: inherit;
}

.safran
{
	color: hsl(52, 90%, 52%);

	font-style: inherit;
	font-weight: inherit;
}

/* }}} */

/* {{{ Oranges */

.orange
{

	color: hsl(30, 87%, 50%);

	font-style: inherit;
	font-weight: inherit;
}

.orangebrulee
{

	color: hsl(25, 100%, 40%);

	font-style: inherit;
	font-weight: inherit;
}

.citrouille
{

	color: hsl(26, 84%, 48%);

	font-style: inherit;
	font-weight: inherit;
}

.corail
{

	color: hsl(16, 99%, 45%);

	font-style: inherit;
	font-weight: inherit;
}

.mandarine
{

	color: hsl(30, 99%, 64%);

	font-style: inherit;
	font-weight: inherit;
}

.tangerine
{

	color: hsl(30, 100%, 50%);

	font-style: inherit;
	font-weight: inherit;
}

/* }}} */

/* {{{ Roses */

.capucine
{
	color: hsl(6, 100%, 65%);

	font-style: inherit;
	font-weight: inherit;
}

.carne
{
	color: hsl(17, 98%, 84%);

	font-style: inherit;
	font-weight: inherit;
}

.cuissedenympheemue
{
	color: hsl(330, 100%, 71%);

	font-style: inherit;
	font-weight: inherit;
}

.grenadine
{
	color: hsl(358, 80%, 57%);

	font-style: inherit;
	font-weight: inherit;
}

/* }}} */

/* {{{ Bruns */

.brun
{
	color: hsl(35, 69%, 21%);

	font-style: inherit;
	font-weight: inherit;
}

.brunclair
{
	color: hsl(30, 59%, 53%);

	font-style: inherit;
	font-weight: inherit;
}

.acajou
{
	color: hsl(21, 65%, 32%);

	font-style: inherit;
	font-weight: inherit;
}

.blondvenitien
{
	color: hsl(34, 75%, 62%);

	font-style: inherit;
	font-weight: inherit;
}

.blondeur
{
	color: hsl(39, 65%, 67%);

	font-style: inherit;
	font-weight: inherit;
}

.bronze
{
	color: hsl(44, 58%, 24%);

	font-style: inherit;
	font-weight: inherit;
}

.broudenoix
{
	color: hsl(31, 88%, 13%);

	font-style: inherit;
	font-weight: inherit;
}

.chamois
{
	color: hsl(49, 48%, 65%);

	font-style: inherit;
	font-weight: inherit;
}

.claro
{
	color: hsl(25, 38%, 37%);

	font-style: inherit;
	font-weight: inherit;
}

.claroclaro, .doubleclaro
{
	color: hsl(39, 39%, 55%);

	font-style: inherit;
	font-weight: inherit;
}

.colorado
{
	color: hsl(21, 67%, 26%);

	font-style: inherit;
	font-weight: inherit;
}

.coloradoclaro
{
	color: hsl(35, 53%, 27%);

	font-style: inherit;
	font-weight: inherit;
}

.cuivre
{
	color: hsl(35, 100%, 35%);

	font-style: inherit;
	font-weight: inherit;
}

.kaki
{
	color: hsl(49, 55%, 37%);

	font-style: inherit;
	font-weight: inherit;
}

.kakivert
{
	color: hsl(71, 46%, 37%);

	font-style: inherit;
	font-weight: inherit;
}

.madurocolorado
{
	color: hsl(35, 69%, 21%);

	font-style: inherit;
	font-weight: inherit;
}

.mordore
{
	color: hsl(35, 68%, 32%);

	font-style: inherit;
	font-weight: inherit;
}

.noiraud
{
	color: hsl(29, 54%, 12%);

	font-style: inherit;
	font-weight: inherit;
}

.noisette
{
	color: hsl(25, 58%, 37%);

	font-style: inherit;
	font-weight: inherit;
}

.puce
{
	color: hsl(11, 79%, 17%);

	font-style: inherit;
	font-weight: inherit;
}

.senois
{
	color: hsl(16, 59%, 35%);

	font-style: inherit;
	font-weight: inherit;
}

.sepia
{
	color: hsl(30, 31%, 54%);

	font-style: inherit;
	font-weight: inherit;
}

.tabac
{
	color: hsl(26, 68%, 37%);

	font-style: inherit;
	font-weight: inherit;
}

.tanne
{
	color: hsl(30, 98%, 33%);

	font-style: inherit;
	font-weight: inherit;
}

.terredombre
{
	color: hsl(39, 58%, 36%);

	font-style: inherit;
	font-weight: inherit;
}

.terredesienne
{
	color: hsl(21, 46%, 38%);

	font-style: inherit;
	font-weight: inherit;
}

.terredesiennebrulee
{
	color: hsl(33, 24%, 47%);

	font-style: inherit;
	font-weight: inherit;
}

/* }}} */

/* {{{ Mauves */

.mauve
{
	/* Mauve (héraldique) */
	color: hsl(328, 28%, 46%);

	font-style: inherit;
	font-weight: inherit;
}

.amethyste
{
	color: hsl(279, 37%, 48%);

	font-style: inherit;
	font-weight: inherit;
}

.byzantin
{
	color: hsl(311, 58%, 47%);

	font-style: inherit;
	font-weight: inherit;
}

.byzantium
{
	color: hsl(311, 46%, 30%);

	font-style: inherit;
	font-weight: inherit;
}

.colombin
{
	color: hsl(321, 21%, 34%);

	font-style: inherit;
	font-weight: inherit;
}

.heliotrope
{
	color: hsl(286, 100%, 73%);

	font-style: inherit;
	font-weight: inherit;
}

.lila
{
	color: hsl(284, 55%, 61%);

	font-style: inherit;
	font-weight: inherit;
}

.magenta, .magentarouge
{
	color: hsl(322, 81%, 43%);

	font-style: inherit;
	font-weight: inherit;
}

.magentafonce
{
	color: hsl(300, 100%, 25%);

	font-style: inherit;
	font-weight: inherit;
}

.fushia, .magentafushia
{
	color: hsl(328, 100%, 43%);

	font-style: inherit;
	font-weight: inherit;
}

.orchidee
{
	color: hsl(302, 59%, 65%);

	font-style: inherit;
	font-weight: inherit;
}

/* }}} */

/* {{{ Violets */

.violet
{
	color: hsl(280, 100%, 30%);

	font-style: inherit;
	font-weight: inherit;
}

.violetdeveque
{
	color: hsl(316, 30%, 35%);

	font-style: inherit;
	font-weight: inherit;
}

.violine
{
	color: hsl(311, 93%, 33%);

	font-style: inherit;
	font-weight: inherit;
}

.indigochaud
{
	color: hsl(265, 94%, 54%);

	font-style: inherit;
	font-weight: inherit;
}

.indigoduweb
{
	color: hsl(275, 100%, 25%);

	font-style: inherit;
	font-weight: inherit;
}

.indigoelectrique
{
	color: hsl(260, 100%, 50%);

	font-style: inherit;
	font-weight: inherit;
}

.indigo, .indigoteinture
{
	color: hsl(266, 100%, 21%);

	font-style: inherit;
	font-weight: inherit;
}

/* }}} */

/* Couleurs }}} */

/* {{{ BiCouleurs */

/* Nomenclature : <couleur texte><Couleur arriereplan>
   bleuOr = bleu sur or, etc */

.bananeAnvers
{
	font-style: normal;
	font-weight: bold;

	color: rgb(209, 182, 6);
	background-color: rgb(36, 68, 92);
	border-color: rgb(36, 68, 92);
}

.boutondorAnthracite
{
	font-style: normal;
	font-weight: bold;

	color: rgb(252, 220, 18);
	background-color: rgb(48, 48, 48);
	border-color: rgb(48, 48, 48);
}

.grenatMars
{
	font-style: normal;
	font-weight: bold;

	color: rgb(110, 11, 20);
	background-color: rgb(238, 209, 83);
	border-color: rgb(238, 209, 83);
}

.vanilleCarmin
{
	font-style: normal;
	font-weight: bold;

	color: rgb(225, 206, 154);
	background-color: rgb(150, 0, 24);
	border-color: rgb(22, 184, 78);
}

/* Couleurs }}} */

/* {{{ Mise en évidence */

.italique
{
	font-style: italic;
}

.gras
{
	font-weight: bold;
}

.souligne
{
	text-decoration: underline;
}

.surligne
{
	text-decoration: overline;
}

.barre
{
	text-decoration: line-through;
}

/* Mise en évidence }}} */

/* {{{ Visibilite */

.cache
{
    display: none;
}

.visible
{
    display: block;
}

/* Visibilite }}} */

/* {{{ Souris */

.aide
{
	cursor: help;
}

.progression
{
	cursor: progress;
}

.deplacement
{
	cursor: move;
}

/* Souris }}} */

/* Génériques }}} */

/* {{{ Racine */

/* * { */
:root
{
	text-align: justify;

	margin-left: 5em;
	margin-right: 5em;
	padding-left: 0;
	padding-right: 0;
	border-left: 0;
	border-right: 0;

	line-height: 1.4;
	letter-spacing: 0.04em;
	word-spacing: 0.01em;

	font-family: monospace;

	font-size: 1.2em;
	font-style: normal;
}

/* }}} */

/* {{{ Corps de la page */

body
{
	max-width: 95%
	font-size: 100%;

	margin-left: 0em;
	margin-right: 0em;
	margin-top: 2em;
	margin-bottom: 40em;
	padding-left: 0;
	padding-right: 0;
	border-left: 0;
	border-right: 0;
}

/* Corps de la page }}} */

/* {{{ Titres */

/* {{{ h1 */

h1
{
	border-style: groove;
	border-width: 0.7em;

	margin-top: 0.4em;
	margin-bottom: 0.4em;

	padding-top: 0.5em;
	padding-bottom: 0.5em;

	text-align: center;

	letter-spacing: 0.24em;
	word-spacing: 0.12em;

	font-size: 1.8em;
	font-style: normal;

	cursor: pointer;
}

/* }}} */

/* {{{ h2 */

h2
{
	border-style: inset;
	border-width: 0.4em;

	border-radius: 2em;

	margin-top: 0.4em;
	margin-bottom: 0.4em;

	padding-top: 0.4em;
	padding-bottom: 0.4em;

	letter-spacing: 0.24em;
	word-spacing: 0.36em;

	font-size: 1.7em;
	font-style: normal;

	text-align: center;

	cursor: pointer;
}

/* }}} */

/* {{{ h3 */

h3
{
	border-style: ridge;
	/*border-top-style: solid;*/
	/*border-bottom-style: solid;*/
	/*border-left-style: solid;*/
	/*border-right-style: solid;*/

	border-width: 0.6em;

	margin-left: 0.4em;
	margin-right: 7em;

	padding-top: 0.4em;
	padding-bottom: 0.4em;
	padding-left: 3.4em;

	letter-spacing: 0.24em;
	word-spacing: 0.36em;

	font-size: 1.5em;
	font-style: normal;

	text-align: left;
}

/* }}} */

/* {{{ h4 */

h4
{
	border-style: outset;
	/*border-top-style: none;*/
	/*border-bottom-style: solid;*/
	/*border-left-style: solid;*/
	/*border-right-style: none;*/

	border-width: 0.2em;

	border-radius: 2em;

	margin-left: 0.4em;
	margin-right: 14em;

	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 2.0em;

	letter-spacing: 0.12em;
	word-spacing: 0.18em;

	font-style: normal;
	font-size: 1.4em;
}

/* }}} */

/* {{{ h5 */

h5
{
	border-style: solid;
	/*border-top-style: none;*/
	/*border-bottom-style: solid;*/
	/*border-left-style: solid;*/
	/*border-right-style: none;*/

	border-width: 0.1em;

	margin-left: 0.4em;
	margin-right: 27em;

	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 3em;

	letter-spacing: 0.24em;
	word-spacing: 0.35em;

	font-size: 1.3em;
	font-style: normal;
}

/* }}} */

/* {{{ h6 */

h6
{
	border-style: dashed;
	/*border-top-style: none;*/
	/*border-bottom-style: none;*/
	/*border-left-style: solid;*/
	/*border-right-style: none;*/

	border-width: 0.1em;

	border-radius: 2em;

	margin-left: 0.4em;
	margin-right: 29em;

	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 3em;

	letter-spacing: 0.24em;
	word-spacing: 0.35em;

	font-size: 1.2em;
	font-style: normal;
}

/* }}} */

/* Titres }}} */

/* {{{ Paragraphes */

p
{
	text-indent: 2em;

	margin-left: 1.4em;
	margin-right: 1.4em;
	margin-top: 0.7em;
	margin-right: 0.7em;

	width: 100%;
}

/* {{{ Lettrine */

p.lettrine
{
	text-indent: 0em;
}

p.lettrine:first-letter
{
	/* Bordeaux				 */
	color: rgb(109, 7, 26);

	float: left;

	border-width: 0.6em;
	border-style: solid;

	/* Orpiment, Orpin de perse				 */
	border-color: rgb(252, 210, 28);

	/* Gris					 */
	background-color: rgb(96, 96, 96);

	margin-right: 0.15em;

	padding: 0.3em;

	font-family: serif;
	font-weight: bold;
	font-size: 2.6em;
}

/* Lettrine }}} */

/* Paragraphes }}} */

/* {{{ Blocs : pre, div, span */

/* {{{ Pre */

pre.dialogue
{
	margin-left: 20em;

	font-size: 1em;
    font-style: italic;
}

pre.note
{
	margin-left: 12em;

	font-size: 1em;
}

pre.poesie
{
	text-align: center;

	letter-spacing: 0.04em;
	word-spacing: 0.03em;

	/*font-family: cursive;*/
	/*font-size: 1.2em;*/
	/*font-style: italic;*/

	padding-top: 0.36em;
	padding-bottom: 0.36em;

	/* Brun				 */
	/*color: hsl(35, 69%, 21%);*/

}

/* Pre }}} */

/* {{{ Span */

span.neutre
{
	font-style: normal;
	font-weight: normal;
	text-align: justify;
}

/* Span }}} */

/* {{{ Div */

div
{
	padding-top: 0.36em;
	padding-bottom: 0.36em;
}

div.menucontextuel
{
	border-bottom-style: solid;
	border-top-style: solid;

	/* Clarissimo (cigare) */
	border-color: rgb(185, 178, 118);

	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
}

div.code
{
	margin-left: 4em;
	margin-right: 4em;
	margin-top: 2em;
	margin-bottom: 2em;

	padding-left: 3em;
	padding-top: 1em;
	padding-bottom: 1em;

	border-width: 0.1em;
	border-style: dashed;

	overflow: auto;
}

div.equations
{
	text-align: center;

	/*text-align: left;*/

	/*margin-left: 12%;*/
}

div.indentation
{
	padding-left: 2em;
}

div.litterature
{
	text-align: justify;

	font-style: italic;

	margin-left: 12%;
	margin-right: 12%;
}

div.note
{
	margin-left: 12%;
}

div.preface
{
	font-style: oblique;
	text-indent: 2%;

	margin-left: 3%;
	margin-right: 3%;
}

div.sommaire
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Div }}} */

/* Blocs : pre, div, span }}} */

/* {{{ Mise en évidence */

em
{
    font-style: italic;
}

em em
{
    font-style: normal;

	/* Citrouille			 */
    color: hsl(26, 84%, 48%);
}

b
{
    font-weight: bold;
}

b b
{
    font-weight: bolder;
}

strong
{
    font-weight: bold;
}

strong strong
{
    font-weight: bolder;
}

/* Mise en évidence }}} */

/* {{{ Indices et exposants */

sub
{
	color: inherit;
	background-color: inherit;
}

sup
{
	color: inherit;
	background-color: inherit;
}

/* Mise en évidence }}} */

/* {{{ Listes à puces */

/* {{{ Ordonnées  */

ol
{
	list-style-type: decimal;
}

ol ol
{
    list-style-type: lower-roman;
}

ol ol ol
{
    list-style-type: lower-greek;
}

ol ol ol ol
{
    list-style-type: cjk-ideographic;
}

/* }}} */

/* {{{ Non ordonnées */

ul
{
	/*list-style-position: inside;*/

    list-style-type: square;
}

ul ul
{
    list-style-type: disc;
}

ul ul ul
{
    list-style-type: circle;
}

/* }}} */

/* {{{ Éléments */

li
{
	text-align: justify;

	margin-left: 2em;
	margin-right: 1em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;

	padding-left: 0.4em;
}

ul.large li
{
	text-align: justify;

	line-height: 1.8;

	margin-left: 2em;
	margin-right: 1em;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

/* }}} */

/* Listes à puces }}} */

/* {{{ Tableaux */

/* {{{ Défaut */

table
{
	font-weight: normal;
	font-size 1.0em;

	border-collapse: collapse;

	border-style: solid;

	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
	margin-bottom: 1.5em;

	max-width: 90%
}

thead
{
	font-weight: normal;
	font-size 1.0em;
}

th
{
	font-weight: normal;
	font-size 1.0em;

	border-style: solid;

	text-align: center;
	vertical-align: middle;

	font-size: 1.1em;
	font-style: normal;
	font-weight: bold;
}

td
{
	font-weight: normal;

	text-align: center;
	vertical-align: middle;

	border-style: solid;
	border-width: 0.1em;

	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;

	color: inherit;
	background-color: inherit;
	border-color: inherit;
}

table colgroup {

	border-collapse: collapse;
	font-size 1.0em;
}

table colgroup col {

	border-collapse: collapse;
}

caption
{
	caption-side: bottom;
}

/* Défaut }}} */

/* {{{ Plat */

table.plat
{
	border-collapse: collapse;

	border-style: none;

	margin-left: auto;
	margin-right: auto;
	margin-top: 0.84em;
	margin-bottom: 0.84em;
}

table.plat thead
{
	border-style: none;
}

table.plat tbody
{
	border-style: none;
}

table.plat tfoot
{
	border-style: none;
}

table.plat th
{
	border-style: none;
}

table.plat td
{
	border-style: none;

	padding-left: 1.2em;
	padding-right: 1.2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

table.plat tr
{
	border-style: none;
}

table.plat colgroup
{
	border-style: none;
}

/* Plat }}} */

/* {{{ Titres  */

th.titre0, tr.titre0, td.titre0
{
	font-size: 1.2em;

	/* Pétrole				 */
	color: hsl(190, 47%, 22%);

	/* Bronze			 */
	border-color: hsl(44, 58%, 24%);
}

th.titre1, tr.titre1, td.titre1
{
	font-size: 1.1em;

	/* Bourgogne			 */
	color: hsl(0, 78%, 24%);

	/* Bronze			 */
	border-color: hsl(44, 58%, 24%);
}

th.titre2, tr.titre2, td.titre2
{
	font-size: 1.1em;

	/* Bronze			 */
	color: hsl(44, 58%, 24%);

	/* Bronze			 */
	border-color: hsl(44, 58%, 24%);
}

/* }}} */

/* {{{ Alternés  */

table.alterne tbody:nth-child(odd) {

	/* Turquin			 */
	color: hsl(219, 35%, 40%);
}

table.alterne tbody:nth-child(even) {

	/* Orange brûlée				 */
	color: hsl(25, 100%, 40%);
}


/* }}} */

/* {{{ Pleins */

th.plein1, tr.plein1, td.plein1
{
	font-size: 1.2em;

	/* Banane			 */
	color: hsl(52, 94%, 42%);

	/* Anthracite			 */
	background-color: hsl(0, 0%, 19%);

	border-color: inherit;
}

th.plein2, tr.plein2
{
	font-size: 1.1em;
}


/* }}} */

/* {{{ Imbriqués */

table table
{
	border-style: none;
}

table table td
{
	border-style: none;

	padding-left: 0.7em;
	padding-right: 0.7em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

/* Imbriqués }}} */

/* {{{ Dans un sommaire */

div.sommaire table
{
	border-style: none;
}

div.sommaire td
{
	text-align: center;

	border-style: none;

	padding-left: 3em;
	padding-right: 3em;
}

/* Dans un sommaire }}} */

/* Tableaux }}} */

/* {{{ Images */

img
{
	background-color: white;
}

/* Images }}} */

/* {{{ Cadre */

iframe[seamless] {
    border: none;
}

/* }}} */
